.contenedor_usuaris {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 10px;
}

.menu_top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
}

.menu_top div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn_tornar {
    color: var(--color-primary);
    padding: 10px;
    cursor: pointer;
    font-size: 25px;
}

.menu_top button{
    background: var(--color-primary);
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn_afegir {
    background: var(--color-primary);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}
.container_usuaris {
    width: 100%;
}
.usuaris {
    width: 100%;
    border: 2px solid var(--color-primary);
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.esquerra {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.esquerra p {
    font-size: 30px;
    font-weight: bold;
}

.prioritat {
    text-align: center;
    padding: 2px 10px;
    color: white;
    font-weight: bold;
}

.p_baixa {
    background: green;
}
.p_moderada {
    background: yellow;
}

.p_alta {
    background: red;
}

.dreta p{
    color: var(--color-tertiary);
}

.dreta {
    padding: 10px;
}
.profile-img {
    width: 60px; 
    height: 60px; 
    border-radius: 50%; 
    object-fit: cover; 
}
.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    position: relative; 
    margin: 10px 0;
}

.input-buscador {
    width: 100%;
    padding: 8px 10px 8px 40px;
    box-sizing: border-box; 
    border: 2px solid black; 
    border-radius: 4px; 
}

.btn-lupa {
    position: absolute;
    left: 10px; 
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: var(--color-tertiary); 
    font-size: 16px;
}
.contenedor_usuaris {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/*afegir usuari*/

.menu_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contenedor_formU {
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    margin-left: 50px;
}

.formU {
    display: flex;
    flex-direction: column; /* Asegura que los elementos se dispongan en una columna */
    margin-bottom: 15px;
}

.formU label {
    margin-bottom: 5px;
    font-weight: bold;
    
}

.formU input,
.formU select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.password-container {
    position: relative;
    width: 100%;
    
}

.password-container input {
    width: 100%;
    padding-right: 40px; 
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: 18px;
    color: #333;
}
.bttn_afegir {
    background: var(--color-primary);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}